.inputs{
    border: 2px solid #333;
    padding: 15px;
    width: 200px;
    border-radius: 15px; 
    background-color: #feb4ff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1); 
}
.botoes{
    border: 2px solid #333;
    padding: 15px;
    width: 200px;
    border-radius: 15px; 
    background-color: #feb4ff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1); 
    display: flex;
    align-content:space-evenly;
}
.botoes button{
    border: 2px solid #333;
    padding: 5px;
    width: 30px;
    border-radius: 15px; 
    background-color: #fb00ff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1); 
    height: 30px;
    margin: 0 10px;
}